.pio/build/project.checksum
.pio/build/megaatmega2560/.sconsign39.dblite
.pio/build/megaatmega2560/firmware.elf
.pio/build/megaatmega2560/firmware.hex
.pio/build/megaatmega2560/libFrameworkArduino.a
.pio/build/megaatmega2560/libFrameworkArduinoVariant.a
.pio/build/megaatmega2560/FrameworkArduino/abi.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/CDC.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial0.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial1.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial2.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial3.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/hooks.c.o
.pio/build/megaatmega2560/FrameworkArduino/IPAddress.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/main.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/new.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/PluggableUSB.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/Print.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/Stream.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/Tone.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/USBCore.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/WInterrupts.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_analog.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_digital.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_pulse.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_pulse.S.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_shift.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring.c.o
.pio/build/megaatmega2560/FrameworkArduino/WMath.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/WString.cpp.o
.pio/build/megaatmega2560/libb5b/libFreeRTOS.a
.pio/build/megaatmega2560/libb5b/FreeRTOS/event_groups.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/heap_3.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/list.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/port.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/queue.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/stream_buffer.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/tasks.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/timers.c.o
.pio/build/megaatmega2560/libb5b/FreeRTOS/variantHooks.cpp.o
.pio/build/megaatmega2560/src/main.cpp.o
.vscode/c_cpp_properties.json
.vscode/launch.json
